# Environment
.env
venv/
bin/
include/
lib/
lib64/
pyvenv.cfg

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# OS files
.DS_Store

# .txt .py
token.txt
katse*
lammas.txt
multimatches.txt

# Json
*.json

# CSV
example.csv

