{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Form{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/scores">
	<label for="map_links">Map links/IDs to filter:</label><br>
	<textarea id="map_links" name="map_links" rows="5" cols="40"></textarea><br>
	<label for="match_links">Match links/IDs list:</label><br>
	<textarea id="match_links" name="match_links" rows="5" cols="40"></textarea><br>
	<label for="wants_csv">Download CSV file</label><br>
	<input type="checkbox" id="wants_csv" name="wants_csv"><br>
	<input type="submit" value="Submit">
</form>
{% endblock %}